* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background-color: beige;
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
    background-color: bisque;
    width: auto;
    height: 200px;
}

footer {
    background-color: bisque;
    width: auto;
    height: auto;
}

.footer-contact {
    color: #333;
}

.footer-contact:active {
    color: #333;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

#scrollToTopBtn:hover {
    background-color: #333;
    /* задать цвет фона кнопки при наведении на нее курсора */
}

.btn {
    border: 1px solid black;
    background-color: ghostwhite;
    border-radius: 2px;

}

.btn:hover,
.bnt:focus {
    cursor: pointer;
    background-color: aliceblue;
}

#about {
    text-align: center;
}

#target {
    text-align: center;
}

#howto {
    text-align: center;
}

#contacts {

    text-align: center;
}

.dot::before {
    content: "•";
    margin-right: 5px;
}

@media (max-width: 413px) {
    header {
        width: 102%
    }

    .svg {
        position: absolute;
        display: flex;
        right: 5%;
        top: 23%;
    }

    .messenger {
        margin-right: 15px;
        width: 24px;
        height: 24px;
    }

    section {
        padding-left: 10px;
        padding-right: 10px;
    }

    #about {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    #target {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    #howto {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .title {
        margin-left: 27%;
        margin-right: auto;
    }

    .container-btn {
        display: flex;
        justify-content: center;
    }

    .buttons {
        margin-top: 12px;
        margin-bottom: 30px;
    }

    .dot {
        margin-bottom: 10px;
        text-align: left;
    }

    .btn {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 85px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid black;
        text-align: center;
        color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .btn-txt {
        color: black;
    }

    .btn-txt:active {
        color: black;
    }

    .btn:not(:last-child) {
        margin-right: 10px;
    }

    .btn:hover,
    .bnt:focus {
        background-color: gray;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        border-color: #4d5ae5;
        color: #ffffff;
    }

    .candles {
        margin-right: 6px;
        width: 130px;
        height: 150px;
    }

    .howto {
        margin-bottom: 30px;
        margin-left: 3%;
        width: 350px;
        height: 250px;
    }

    .analitic {
        margin-bottom: 30px;
        margin-left: 3%;
        width: 350px;
        height: 250px;
    }

    .worker {
        margin-bottom: 30px;
        margin-left: 3%;
        width: 350px;
        height: 250px;
    }

    .text {
        text-align: center;
        margin-bottom: 30px;
    }

    .logo {
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 107px;
    }

    .ctnr-footer {
        position: relative;
        display: flex;
    }

    .footer-item {
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .svg-footer {
        flex-direction: column;
        display: flex;
        position: absolute;
        right: 60%;
        top: 0.5%;
    }

    .footer-contact {
        color: #333;
        font-size: 14px;
    }

    .svg-ftr-item {
        width: 15px;
        height: 15px;
        margin-bottom: 22px;
    }

    #contacts {
        margin-bottom: 30px;
    }
}

@media (min-width: 414px) and (max-width: 767px) {
    .svg {
        position: absolute;
        display: flex;
        right: 9%;
        top: 23%;
    }

    .messenger {
        margin-right: 15px;
        width: 24px;
        height: 24px;
    }

    section {
        padding-left: 10px;
        padding-right: 10px;
    }

    #about {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    #target {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    #howto {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .title {
        margin-left: 27%;
        margin-right: auto;
    }

    .container-btn {
        display: flex;
        justify-content: center;
    }

    .buttons {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .dot {
        margin-bottom: 10px;
        text-align: left;
    }

    .btn {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid black;
        text-align: center;
        color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .btn-txt {
        color: black;
    }

    .btn-txt:active {
        color: black;
    }

    .btn:not(:last-child) {
        margin-right: 10px;
    }

    .btn:hover,
    .bnt:focus {
        background-color: gray;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        border-color: #4d5ae5;
        color: #ffffff;
    }

    .candles {
        margin-right: 20px;
        width: 130px;
        height: 150px;
    }

    .howto {
        margin-bottom: 30px;
        margin-left: 7%;
        width: 350px;
        height: 250px;
    }

    .analitic {
        margin-bottom: 30px;
        margin-left: 7%;
        width: 350px;
        height: 250px;
    }

    .worker {
        margin-bottom: 30px;
        margin-left: 7%;
        width: 350px;
        height: 250px;
    }

    .text {
        text-align: center;
        margin-bottom: 30px;
    }

    .logo {
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 107px;
    }

    .ctnr-footer {
        position: relative;
        display: flex;
    }

    .footer-item {
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .svg-footer {
        flex-direction: column;
        display: flex;
        position: absolute;
        right: 60%;
        top: 0.5%;
    }

    .svg-ftr-item {
        width: 15px;
        height: 15px;
        margin-bottom: 22px;
    }

    #contacts {
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .svg {
        position: absolute;
        display: flex;
        right: 3%;
        bottom: 60%;
    }

    .messenger {
        margin-right: 15px;
        width: 40px;
        height: 40px;
    }

    body {
        font-size: 18px;
    }

    #about {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    #target {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    #howto {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .title {
        margin-left: 27%;
        margin-right: auto;
    }

    .container-btn {
        display: flex;
        justify-content: center;
    }

    .buttons {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .btn {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 150px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid black;
        text-align: center;
        color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .btn-txt {
        color: black;
    }

    .btn-txt:active {
        color: black;
    }

    .btn:not(:last-child) {
        margin-right: 50px;
    }

    .btn:hover,
    .bnt:focus {
        background-color: gray;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        border-color: #4d5ae5;
        color: #ffffff;
    }

    .candles {
        width: 250px;
        height: 250px;
    }

    .howto {
        margin-bottom: 30px;
        margin-left: 13%;
        width: 600px;
        height: 440px;
    }

    .analitic {
        margin-bottom: 30px;
        margin-left: 13%;
        width: 600px;
        height: 440px;
    }

    .worker {
        margin-bottom: 30px;
        margin-left: 13%;
        width: 600px;
        height: 440px;
    }

    .text {
        text-align: center;
        margin-bottom: 30px;
    }

    .logo {
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 107px;
    }

    .ctnr-footer {
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
    }

    .footer-item {
        margin-left: 20px;
        margin-bottom: 50px;
    }

    .svg-footer {
        flex-direction: column;
        display: flex;
        position: absolute;
        right: 37%;
        top: ;
    }

    .svg-ftr-item {
        width: 20px;
        height: 20px;
        margin-bottom: 50px;
    }

    #contacts {
        margin-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    .svg {
        position: absolute;
        display: flex;
        right: 2%;
        bottom: 60%;
    }

    .messenger {
        margin-right: 15px;
        width: 40px;
        height: 40px;
    }

    section {
        padding-left: 50px;
        padding-right: 50px;
    }

    body {
        font-size: 18px;
    }

    #about {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    #target {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    #howto {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .title {
        text-align: center;
        margin-right: auto;
    }

    .container-btn {
        display: flex;
        justify-content: center;
    }

    .buttons {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .btn {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 150px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid black;
        text-align: center;
        color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .btn-txt {
        color: black;
    }

    .btn-txt:active {
        color: black;
    }

    .btn:not(:last-child) {
        margin-right: 50px;
    }

    .btn:hover,
    .bnt:focus {
        background-color: gray;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        border-color: #4d5ae5;
        color: #ffffff;
    }

    .candles {
        width: 250px;
        height: 250px;
    }

    .howto {
        margin-bottom: 30px;
        margin-left: 25%;
        width: 50%;
        height: auto;
    }

    .analitic {
        margin-bottom: 30px;
        margin-left: 25%;
        width: 50%;
        height: auto;
    }

    .worker {
        margin-bottom: 30px;
        margin-left: 25%;
        width: 50%;
        height: auto;
    }

    .text {
        margin-bottom: 30px;
    }

    .logo {
        position: absolute;
        left: 0;
        top: 0;
        width: 150px;
        height: 157px;
    }

    .ctnr-footer {
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
    }

    .footer-item {
        margin-left: 20px;
        margin-bottom: 50px;
    }

    .svg-footer {
        flex-direction: column;
        display: flex;
        position: absolute;
        right: 16%;
        top: ;
    }

    .svg-ftr-item {
        width: 20px;
        height: 20px;
        margin-bottom: 50px;
    }

    #contacts {
        margin-bottom: 30px;
    }
}